:host {
  height: 2.5rem;

  display: flex;
  align-items: center;

  border-top: 1px solid rgb(var(--color-accent-slight));
  border-bottom: 1px solid rgb(var(--color-accent-slight));
}

.app-panel-header {
  &__toggle {
    min-width: unset;
    flex-shrink: 0;
  }

  &__title {
    flex-grow: 1;
    margin: 0 0.6rem;
    min-width: 0;
  }

  &__divider {
    border-right: 1px solid rgb(var(--color-accent-slight));
    height: 70%;
  }
}

::ng-deep {
  .app-panel-header__title,
  .app-panel-header__title h1,
  .app-panel-header__title h2,
  .app-panel-header__title h3,
  .app-panel-header__title h4,
  .app-panel-header__title h5,
  .app-panel-header__title h6 {
    margin-top: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-panel-header__title {
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(var(--color-text));
  }

  .app-panel-header > button {
    flex-shrink: 0;
    min-width: unset;
  }
}
